body {
  font-family     : 'Helvetica', 'Arial', sans-serif;
  background-color: transparent; /*rgb(30, 30, 30);*/
  color           : black;
  font-weight     : 300;
}

.container {
  margin : 0 auto;
  display: block;
}

.checkbox {
  flex     : 25;
  font-size: 10px;  /* change this if the width does not fit your sidebar */
}

.label {
  text-align : center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size  : 10px;  /* change this if the width does not fit your sidebar */
  font-weight: regular;
  min-width  : 80px;  /* change this if the width does not fit your sidebar */
  max-width  : 80px;  /* change this if the width does not fit your sidebar */
  flex       : 25;
  text-align : left;
  line-height: 20px;
}

.dropdown {
  padding         : 2px;
  display         : block;
  background-color: transparent;
  font-family     : 'Helvetica', 'Arial', sans-serif;
  font-size       : 10px;  /* change this if the width does not fit your sidebar */
  color           : black;
  border-radius   : 3px;
  min-width       : 100px;  /* change this if the width does not fit your sidebar */
  max-width       : 100px;  /* change this if the width does not fit your sidebar */
  flex            : 75;
}
.dropdown:focus {
  border-color : white;
  border-radius: 0px;
  box-shadow   : none;
}

.filename-label {
  margin-top : 5px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size  : 10px;  /* change this if the width does not fit your sidebar */
  font-weight: regular;
  flex       : 100;
  max-width  : 180px; /* sum of .label max-width and .dropdown max-width */
  text-align : center;
  color      : black;
}

.button {
  margin-top   : 10px;
  padding      : 2px 10px 2px 10px;
  border-radius: 3px;
  border       : 0;
  font-family  : 'Helvetica', 'Arial', sans-serif;
  font-size    : 10px;
}

.vbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  /*Align children vetically*/
  -webkit-flex-direction: column;
  -ms-flex-direction    : column;
  flex-direction        : column;

  -webkit-align-content: flex-start;
  -ms-flex-line-pack   : start;
  align-content        : flex-start;
}

.hbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  /*Align children horizontally*/
  -webkit-flex-direction: row;
  -ms-flex-direction    : row;
  flex-direction        : row;

  -webkit-align-content: flex-start;
  -ms-flex-line-pack   : start;
  align-content        : flex-start;
}

.flex {
  -webkit-flex: 1;
  -ms-flex    : 1;
  flex        : 1;
}
